# Node dependencies
node_modules/

# Cypress output
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/screenshots/
cypress/reports/videos/

# Cypress Mochawesome and other reports (if you don't want to keep them in git)
cypress/reports/
.env
